{% extends 'base.html' %}

{% block content%}

<div style="margin:auto;width:50%;">
    <p></p>
    {% if job %}
    <div class="position_name">
        <h2>岗位名称：{{job.job_name}}</h2>
        城市:{{job.city_name}}<p></p>
    </div>
    <hr>
    <div class="position_responsibility">
        <h3>岗位职责：</h3>
        <pre style="font-size:16px">{{job.job_responsibility}}</pre>
        <p></p>
    </div>
    <hr>
    <div class="position_requirement">
        <h3>岗位要求：</h3>
        <pre style="font-size:16px">{{job.job_requirement}}</pre>
    </div>
    <hr>
    <div class="apply_position">
        <button type="submit" class="btn btn-primary"
                onclick="location.href='/resume/add/?apply_position={{job.job_name}}&city={{job.city_name}}'">申请</button>
    </div>
    {%else%}
    <p>职位不存在</p>
    {% endif %}

</div>
{% endblock%}